#header {
    background-color: white;
    color: black;
}

#links {
    float: right;
    font-size: 20px;
}

#input-form {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}