#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#infoContent { /* # with id gets applied only to section on html file with ID*/
    font-family: sans-serif;
    word-spacing: 2px;
    margin-left: auto; /* auto ensures that content fits any type of screen. varying the width with automatically vary the left and right margins */
    margin-right: auto;
    width: 810px;
    line-height: 2;
}

/* Toya: Center content of info page, first the header. 
**/
h2 {
text-align: center;
}

.center-menu { /* create a new class for menu container */
    display: flex;
    justify-content: center;
}

.hide{ /* create new class to hide stuff*/
    display: none;
}
.thick {
  font-weight: bold; /* for the p classes that hold "About California", About Colorado, About Massachussetts) */
}

/*
body {
    background-color: red;
}
*/